header{
	border: 0.1px solid #C1C5C8;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.article-header-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

#description{
	/*width: 600px;*/
	max-width: 600px;
}

.authour{
	float: left;
}

.text{
	display: grid;
	grid-column: repeat(1fr minmax(600px))
}