header{
	border: 0.1px solid #C1C5C8;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

p, h1, span{
	font-family:nyt-imperial,georgia,'times new roman',times,serif;
}


.article-header-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.image-container{
    width: 1200px;
}

#head-img{
	width: 100%;
}

.header-text-container{
	/*display: grid;
	flex-direction: column;
	grid-template-columns: 2fr 1fr;*/
	max-width: 900px;
	margin: 10px 20px 0;
	margin-left: 0;

}

.description{
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 0.9375rem;
	line-height: 1;
	
}

#credit{
	font-size: 11px;

}


.text-container{
	display: grid;
	width: 100%;
	background-color: #D0D3D4;
	/*grid-template-columns: 1fr;*/
	align-items: center;
	justify-content: center;
}

.text.author{
	font-family: nyt-franklin,helvetica,arial,sans-serif;
	font-weight: 700;
	
	font-size: 0.875rem; /*same as 14px*/
}



.text.bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.postHeaderIcon{
	background-color: #eee;
	border:1px #eee solid;
	border-radius: 100%;
	/*justify-content: center;*/
}

.postHeaderIcon img{
	width: 15px;
	height: 15px;
}



.text{
	line-height:1.875rem;
	font-size: 20px;
	max-width: 600px;
	/*background-color: rgba(0,95,107,0.8);*/
}

.more{
	text-align: center;
}

.more p{
	margin: 0;
	padding: 0;
	font-family: nyt-franklin,helvetica,arial,sans-serif;
	font-weight: 700;
	color: #333;
	font-size: 14px; /*same as 14px*/
}

.more a{
	text-decoration: none;
	color: #326891;
	font-weight: 700;
	font-family: nyt-franklin,helvetica,arial,sans-serif;
	font-size: 14px;
}

.pics-container{
	display: flex;
	flex-direction: column;
	/*max-width: 945px;*/
	justify-content: center;
	align-items: center;
}

.pics-header{
	max-width: 945px;
}

.pics-header h1{
	font-size: 1.25rem;
	font-weight: 700;
	font-style: normal;
}

.grid{
	display: grid;
	justify-content: center;
	align-items: center;
	

}

.grid-text{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	max-width: 945px;
	/*margin: 0 10px;*/
}

.image-text p{
	font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    /*font-weight: 300;*/
    color: #333;
    padding: 10px;
}

.image-text#author{
	font-family: nyt-franklin,arial,helvetica,sans-serif;
    line-height: 17px;
    /*font-weight: 300;*/
    color: #333;
	font-size: 12px;
	/*font-weight: 500;*/
}

.description.small{
	font-size: 11px;
}

/*
.pics{
	background: url(images/inflation-945.png);
	/*width: 100%;
	height: 576px;
}*/

.comments{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:30px 0;
}

.left{

	width: 330px;
}

.btn-comments{
	
	text-align: center;
	background-color: #567B95;
	color: white;
    display: block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(50, 104, 145);
    border-image: initial;
    border-radius: 3px;
    padding: 5px 0px;
    transition: background-color 0.6s ease 0s;
}

.start{
	width: 70%;
}

.end{
	width: 30%;

}

.grid-image{
	display: grid;
	grid-template-columns: repeat(2,1fr);	
	grid-template-rows: repeat(3,1fr);
}

.grid-image img{
	width: 200px;
}